html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color:#66064b;
    /* background-image: url("/img/pumpkin.png");
    background-size: 200px, 1000px;  
    background-image: url("/img/Bullet-enemy.png"); 
    background-image:  url("/img/pumpkin.png"), url("/img/Bullet-enemy.png");
    background-repeat: round, round; */
    


}

#logo{
    height: 200px;
    margin-top: 80px;
    position: relative;
}
/* #score{
    
    color:red;
    

} */

canvas {
    border: 5px solid rgb(0, 0, 0);
    margin: -100px auto 0 auto;
    display: block;
}

div {
    text-align: center;
}


#btn{
    width: 100px;
    border: 5px solid rgb(0, 0, 0);
    background-color: #00c629;
    color: #4a2240;
    /* margin-top: -500px;  */
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: -30px auto 0 auto;
    position: relative;  
}